/*Para declarar uma variável no CSS*/
:root {
    --vermelho: #E50914;
    --preto: #141414;
}

/*Para zerar (resetar) a página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*box-sizing: border-box = Para os itens de dentro não ultrapassarem as caixas dos itens de fora*/
}

body {
    background: var(--preto);
    /*Chamando a variável*/
    font-family: 'Arial';
    color: white;
}

/*Início da estilização pelo menu superior*/
/*Alinhando o logo e menu*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Alterando o logo da netflix*/
header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

/*Alterando o menu */
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/*:hover = evento para pegar o mouse em cima do texto e mudar de cor*/
header nav a:hover {
    color: #FFF
}

/*Início da estilização pelo do miolo da página*/
/*Posicionando a imagem, sinopse e o titulo*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/capa2.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*Estilizando a sinopse*/
.sinopse {
    margin-top: 15px;
    margin-bottom: 20px;
}

/*Estilizando o título*/
.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/*Estilizando o botão*/
.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 25px;
    margin-right: 20px;
    font-size: 10;

    cursor: pointer;
    transition: 1s ease all;
}

/*Estilizando a ação do mouse em cima do botão*/
.botao:hover {
    background-color: white;
    color: black;
}

/*Espaçamento dos icones dos botões*/
.botao i {
    margin-right: 10px;
}

/*Espaçamento do canto esquerda da tela dos titulo, sinopse e botão*/
.container {
    margin-left: 20px;
}

/*Reduzindo o espaço que o titulo, sinopse e botão ocupa*/
.filme-principal .container {
    width: 50%;
}

/*Definindo o tamanho das mini imagens*/

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
}